.search {
    margin: auto;
    color: var(--mainTextColor);
    width: 100%;
    position: relative;
    z-index: 99;

    text-align: center;
    h1 {
        color: #fff;
    }
    h3 {
        font-size: 27px;
        font-weight: 600;
        color: #df86b2;
    }

    button {
        border: none;
        outline: none;
        @extend %gradient-text;
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translatey(-50%);
        -webkit-transform: translatey(-50%);
        -moz-transform: translatey(-50%);
        -ms-transform: translatey(-50%);
        -o-transform: translatey(-50%);
    }
}
